.mediaViewInfo {
	--web-view-name: controle;
	--web-view-id: controle;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: controle;
}
* {
	margin: 0;
	padding: 0;
}
#controle {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1082px;
	height: 530px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: controle;
	--web-view-id: controle;
	--web-enable-deep-linking: true;
}
.bg_bordaControle {
	position: absolute;
	overflow: visible;
	width: 1080px;
	height: 528px;
	left: 1px;
	top: 1px;
}
.bg_meioControle {
	position: absolute;
	overflow: visible;
	width: 1014px;
	height: 467px;
	left: 34px;
	top: 42px;
}
.bg_direcionais {
	overflow: visible;
	position: absolute;
	top: 160px;
	left: 76px;
	width: 244.001px;
	height: 244.001px;
	transform: matrix(1,0,0,1,0,0);
}
#bt_analogico {
	filter: blur(50px);
}
.bt_analogico {
	position: absolute;
	overflow: visible;
	width: 381px;
	height: 380px;
	left: 158px;
	top: 242px;
}
.bt_setaCima {
	overflow: visible;
	position: absolute;
	top: 166px;
	left: 169px;
	width: 61px;
	height: 69px;
	transform: matrix(1,0,0,1,0,0);
}
.bt_setaEsquerda {
	overflow: visible;
	position: absolute;
	top: 251px;
	left: 82px;
	width: 69px;
	height: 61px;
	transform: rotate(270deg);
}
.bt_setaBaixo {
	overflow: visible;
	position: absolute;
	top: 329px;
	left: 168px;
	width: 61px;
	height: 69px;
	transform: rotate(180deg);
}
.bt_setaDireita {
	overflow: visible;
	position: absolute;
	top: 250.526px;
	left: 242.333px;
	width: 69.1px;
	height: 61.422px;
	transform: rotate(90deg);
}
.bg_estilo1 {
	position: absolute;
	overflow: visible;
	width: 305.829px;
	height: 42.228px;
	left: 382.803px;
	top: 41.948px;
}
.bg_estilo2 {
	position: absolute;
	overflow: visible;
	width: 305.829px;
	height: 40.948px;
	left: 382.803px;
	top: 104.649px;
}
.bg_estilo3 {
	position: absolute;
	overflow: visible;
	width: 305.829px;
	height: 39.668px;
	left: 382.803px;
	top: 166.071px;
}
.bg_estilo4 {
	position: absolute;
	overflow: visible;
	width: 305.829px;
	height: 40.948px;
	left: 382.803px;
	top: 300.431px;
}
#tx_mhs {
	position: absolute;
	left: 483.52px;
	top: 222.374px;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Vermin Vibes;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(19,144,228,1);
}
#tx_conect {
	position: absolute;
	left: 419.151px;
	top: 297.872px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
#tx_desconect {
	position: absolute;
	left: 535.141px;
	top: 297.872px;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
.bg_conexoes {
	position: absolute;
	overflow: visible;
	width: 305.829px;
	height: 102.37px;
	left: 382.803px;
	top: 352.896px;
}
.bt_conect {
	position: absolute;
	overflow: visible;
	width: 81.896px;
	height: 40.948px;
	left: 424.241px;
	top: 383.607px;
}
.bt_desconect {
	position: absolute;
	overflow: visible;
	width: 81.896px;
	height: 40.948px;
	left: 563.221px;
	top: 383.607px;
}
.bg_estilo5 {
	position: absolute;
	overflow: visible;
	width: 305.829px;
	height: 42.228px;
	left: 382.803px;
	top: 466.782px;
}
.bg_btA {
	position: absolute;
	overflow: visible;
	width: 101.09px;
	height: 102.37px;
	left: 750.07px;
	top: 332.422px;
}
.bt_a {
	position: absolute;
	overflow: visible;
	width: 80.616px;
	height: 80.616px;
	left: 760.33px;
	top: 342.659px;
}
#tx_a {
	position: absolute;
	left: 782.119px;
	top: 271px;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Againts;
	font-style: normal;
	font-weight: normal;
	font-size: 49px;
	color: rgba(207,27,27,1);
}
.bg_btB {
	position: absolute;
	overflow: visible;
	width: 101.09px;
	height: 102.37px;
	left: 890.287px;
	top: 332.422px;
}
.bt_b {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 80px;
	left: 901px;
	top: 343px;
}
#tx_b {
	position: absolute;
	left: 922.42px;
	top: 271px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Againts;
	font-style: normal;
	font-weight: normal;
	font-size: 49px;
	color: rgba(207,27,27,1);
}